.shop-form {
    // background-color: #A7E074;
    min-height: 100vh;
}
.text-right {
  text-align: right;
}
.btn-language {
  background-color: #198754;
  border-color: #fff;
  color: #fff;
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-nav-list {
  width: 60px;
  overflow: hidden;
  transition: width 0.3s;

  h4 {
    opacity: 0;
  }
}

.mat-drawer-done {
  mat-nav-list {
    width: 180px;
    h4 {
      opacity: 1;
      margin: auto 10px;
      transition: all 0.1s ease-in 0.2s;
    }
  }
}

